.two-column>.ui-block-a {
	width: 62.5%;
}

.two-column>.ui-block-b {
	width: 37.5%;
}

.description {
	text-align: justify;
}

#password_change_form, #login_form, #user_form {
	max-width: 480px;
	margin-left: auto;
	margin-right: auto;
}

/* flash messages */

.message {
	margin-bottom: 1px
}

#messages .info {
	background-color: #e6ecf2;
	border-color: #314e6c;
	color: #314e6c;
}

#messages .success {
	background-color: #defade;
	border-color: #267726;
	color: #267726;
}

#messages .warning {
	background-color: #ffeebf;
	border-color: #b87d00;
	color: #b87d00;
}

#messages .error {
	background-color: #ffcccc;
	border-color: #8f0000;
	color: #8f0000;
}

#map {
	width: 100%;
	height: 360px;
}

#elevation_profile {
	padding-top: 1ex;
	width: 100%;
	height: 360px;
}

/* gallery */
.gallery { 
	list-style: none; 
	padding: 0; 
	margin: 0; 
}

.gallery:after { 
	clear: both; 
	content: "."; 
	display: block; 
	height: 0; 
	visibility: hidden; 
}

.gallery li { 
	float: left; 
	width:170px; 
	height:170px; 
	}

.gallery li a { 
	display: block; 
	margin: 5px; 
	border: 0px solid #3c3c3c; 
}

.gallery li img { 
	display: block; 
	width: auto; 
	height: auto; 
	max-width: 100%; 
	max-height: 160px; 
	margin-left: auto; 
	margin-right: auto; 
	border: 1px solid #3c3c3c; 
}
