*.py[co]
*.sw[po]
*.bak
*.orig
*~
*.log
*.egg-info
.project
.pydevproject
secret_key.txt
db.sqlite3
venv/
virtenv/
dist/
build/
private/
wsgi/media/*
#wsgi/openshift/static/js/leaflet-gpx.js
wsgi/openshift/static/js/jquery.datetimepicker.js
wsgi/openshift/static/css/leaflet.css
wsgi/openshift/static/css/jquery.datetimepicker.css
