{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}

{% block extrahead %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/dropzone.css' %}" />
	<script src="{% static 'js/dropzone.min.js' %}"></script>
{% endblock %}	

{% block content %}
<h2>{% trans "Upload new photos to trip " %}<a href="{% url 'trips:view' trip.id %}" data-ajax="false" >{{ trip.title }}</a></h2>

<form id="add_photos" class="dropzone" method="post" action="{% url 'trips:add_photos' trip.id %}" enctype="multipart/form-data" data-ajax="false" >
	{% csrf_token %}
	{{ form.as_p }}
</form>

{% endblock %}
