{% extends "base.html" %}

{% load i18n %}

{% block content %}
<h2>{% trans "Public trips" %} </h2>

{% if trips %}
<ul data-role="listview" data-filter="true" data-filter-placeholder="{% trans 'Search trips...' %}" data-inset="true">
	{% for trip in trips %}
	<li>
		<a href="{% url 'trips:view' trip.id %}" data-ajax="false" >
			<h3>{{ trip.title }}</h3>
			<p><strong>{{ trip.description|slice:"0:80" }}</strong></p>
			<p>{% trans 'Created: '%}{{ trip.created }}, {% trans 'last change: '%}{{ trip.modified }}</p>
		</a>
		<p class="ui-li-aside"><a href="{% url 'users:profile' trip.owner.username %}">{{ trip.owner.username }}</a></p>
	</li>
	{% endfor %}
</ul>

{% else %}
<p>{% trans "Users have not created any public trips yet." %}</p>
{% endif %}

{% endblock %}
