{% load staticfiles %}
{% load i18n %}

{% trans "The Tourist diary" as the_title %}
{% trans "&copy; 2014 lacike" as the_footer %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}{{ the_title }}{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.mobile-1.4.2.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.datetimepicker.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}" />

	<script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
	<script src="{% static 'js/jquery.mobile-1.4.2.min.js' %}"></script>
	<script src="{% static 'js/jquery.datetimepicker.js' %}"></script>
	<script src="{% static 'js/custom.js' %}"></script>

	{% block extrahead %}{% endblock %}
	
</head>

<body>
<div data-role="page" data-quicklinks="true" data-url="{{ request.get_full_path }}">
	<div data-role="header">
		<h1>{% block header %}{{ the_title }}{% endblock %}</h1>
	</div><!-- /header -->

	<div data-role="navbar">
		<ul>
			{% if user.is_authenticated %}
			<li><a href="{% url 'users:index' %}" data-ajax="false">{% trans 'Dashboard' %}</a></li>
			<li><a href="{% url 'trips:index' %}" data-ajax="false">{% trans 'My trips' %}</a></li>
			<li><a href="{% url 'users:profile' user.username %}" data-ajax="false">{% trans 'My profile' %}</a></li>
			<li><a href="{% url 'users:logout'%}" data-ajax="false">{% trans 'Logout' %} {{ user.username}}</a>

			{% else %}
			<li><a href="{% url 'home'%}" data-ajax="false">{% trans 'Home' %}</a></li>
			<li><a href="" data-ajax="false">{% trans 'Trips' %}</a></li>
			<li><a href="{% url 'users:login'%}" data-ajax="false">{% trans 'Login' %}</a></li>
			<li><a href="{% url 'users:registration'%}" data-ajax="false">{% trans 'Registration' %}</a>
			{% endif %}
	    </ul>
	</div>

	<div data-role="main" class="ui-content">
		{% if messages %}
		<div id="messages">
			{% for message in messages %}
			<div class="message {{ message.tags }} ui-body ui-body-a">{{ message }}</div>
			{% endfor %}
		</div>
		{% endif %}
		{% if user.is_authenticated %}
		<div class="ui-grid-a">
			<div class="ui-block-a">
		{% endif %}
				<div class="ui-body ui-body-a">
					{% block content %}{% endblock %}
				</div>
			{% if user.is_authenticated %}
	    	</div>
    		<div class="ui-block-b">
				<div class="ui-body ui-body-a">
					<h3>{{ user.username }}</h3>
					<img src="{{ user.userprofile.avatar.url }}" alt="{{ user.username }} avatar" />
					<p>{{ user.userprofile.about_me }}</p>
					<p>
						<a href="{% url 'users:edit' %}" data-ajax="false" >Edit profile</a><br/>
						<a href="{% url 'users:password_change' %}" data-ajax="false" >Change password</a><br/>
						<a href="{% url 'groups:index' %}" data-ajax="false" >My groups</a><br/>

						<a href="{% url 'users:logout' %}" data-ajax="false">Logout</a>
</p>
				</div>
	        </div>
		</div>
			{% endif %}
	</div><!-- /content -->

	<div data-role="footer" data-position="fixed">
		<h4>{{ the_footer }}</h4>
	</div><!-- /footer -->


</div><!-- /page -->
</body>
</html>
