{% extends "base.html" %}

{% load i18n %}

{% block content %}
<h2>{% trans "Dashboard" %} </h2>

<h3>{% trans "Personal stats" %}</h3>
<table id="stats">
	<tr><th>{% trans 'Last login' %}:</th><td>{{ stats.last_login }}</td></tr>
	<tr><th>{% trans 'Member since' %}:</th><td>{{ stats.date_joined }}</td></tr>
	<tr><th>{% trans 'Trips shared with me' %}:</th><td>{{ stats.share_trips }}</td></tr>
	<tr><th>{% trans 'All my trips' %}:</th><td>{{ stats.trips }}</td></tr>
	<tr><th>{% trans 'My public trips' %}:</th><td>{{ stats.public_trips }}</td></tr>
	<tr><th>{% trans 'My photos' %}:</th><td>{{ stats.photos }}</td></tr>
	<tr><th>{% trans 'My comments' %}:</th><td>{{ stats.comments }}</td></tr>
	<tr><th>{% trans 'My groups' %}:</th><td>{{ stats.groups }}</td></tr>
	<tr><th>{% trans 'Groups with me' %}:</th><td>{{ stats.share_groups }}</td></tr>
</table>

<h3>{% trans "Trips shared with me" %}</h3>
<span>View all <a href="{% url 'trips:public' %}">public trips.</a></span>

{% if trips %}
<ul data-role="listview" data-filter="true" data-filter-placeholder="{% trans 'Search trips...' %}" data-inset="true">
	{% for trip in trips %}
	<li>
		<a href="{% url 'trips:view' trip.id %}" data-ajax="false" >
			<h3>{{ trip.title }}</h3>
			<p><strong>{{ trip.description|slice:"0:80" }}</strong></p>
			<p>{% trans 'Created: '%}{{ trip.created }}, {% trans 'last change: '%}{{ trip.modified }}</p>
		</a>
		<p class="ui-li-aside"><a href="{% url 'users:profile' trip.owner.username %}">{{ trip.owner.username }}</a></p>
	</li>
	{% endfor %}
</ul>

{% else %}
<p>{% trans "Users have not shared any trip with you yet." %}</p>
{% endif %}

{% endblock %}
