{% extends "base.html" %}

{% load i18n %}

{% block content %}
<h3>{% trans "My groups" %} </h3>

<form id="group_create" method="post" action="{% url 'groups:create' %}">
	{% csrf_token %}
	<fieldset>
		<legend>{% trans 'Create group' %}</legend>
		{{ form.as_p }}
		<input type="submit" value="{% trans 'Create' %}" />
	</fieldset>
</form>

{% if groups %}
<ul data-role="listview" data-filter="true" data-filter-placeholder="{% trans 'Search groups...' %}" data-inset="true" >
	{% for group in groups %}
	<li><a href="">{{ group.name }}</a></li>
	{% endfor %}
</ul>
{% else %}
<p>{% trans "You have not created any groups yet." %}</p>
{% endif %}

{% endblock %}
