{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h2>{% trans 'Profile for user ' %} {{ profile.username }}</h2>
<img src="{{ profile.userprofile.avatar.url }}" alt="{{ profile.username }} avatar" />
<table>
	<tr><th>{% trans 'Last login' %}:</th><td>{{ profile.last_login }}</td></tr>
	<tr><th>{% trans 'Member since' %}:</th><td>{{ profile.date_joined }}</td></tr>
	<tr><th>{% trans 'Name' %}:</th><td>{{ profile.first_name }} {{ profile.last_name}}</td></tr>
	<tr><th>{% trans 'About me' %}:</th><td>{{ profile.userprofile.about_me }}</td></tr>
</table>

<h3>Public trips</h3>
TODO
{% endblock %}
